<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/3-20.css">
</head>
<body>
    <div class="index">
        <div class="header">
            <div class="btn position-box">
                <button class="btn-1">WorkSpace</button>
                <div class="drop-down-box"></div>
            </div>
            <div class="btn">
                <button class="btn-2">Projects</button>
                <div class="drop-down-box" >
                    <div class="box1"></div>
                    <div class="box2">
                        <div class="drop-list" >
                            <img src="../images/list.png" alt="">
                            <p>New Design for the website Aractis</p>
                        </div>
                        <div class="drop-list">
                            <img src="../images/list.png" alt="">
                            <p>Email template for Genius Web</p>
                        </div>
                        <div class="drop-list">
                            <img src="../images/list.png" alt="">
                            <p>New payment on drivestop.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn">
                <button class="btn-3">Messages</button>
                <div class="drop-down-box"></div>
            </div>
            <div class="btn">
                <button class="btn-4">Profile</button>
                <div class="drop-down-box"></div>
            </div>
        </div>
        <div class="nav">
            <div class="nav-item">
                <img src='../images/Icon1.png' class="icon icon-1" align='AbsMiddle'>
                <p>Timeline</p>
            </div>
            <div class="nav-item">
                <img src='../images/Icon2.png' class="icon" align='AbsMiddle'>
                <p>Last Docs</p>
            </div>
            <div class="nav-item">
                <img src='../images/Icon3.png' class="icon" align='AbsMiddle'>
                <p>Schedule</p>
            </div>
            <div class="nav-item">
                <img src='../images/Icon4.png' class="icon" align='AbsMiddle'>
                <p>My team</p>
            </div>
            <div class="nav-item">
                <img src='../images/Icon5.png' class="icon" align='AbsMiddle'>
                <p>Folders</p>
            </div>
        </div>
        <div class="main">
            <div>
                <img src="../images/home.png" alt="" class="home">
            </div>
            <div class="arrow">
                <img src="../images/arrow.png" alt="" align='AbsMiddle' class="arrow-icon">
                <p>Timeline</p>
            </div>
            <div class="arrow">
                <img src="../images/arrow.png" alt="" align='AbsMiddle' class="arrow-icon">
                <p>Active projects</p>
            </div>
            <div class="arrow">
                <img src="../images/arrow.png" alt="" align='AbsMiddle' class="arrow-icon">
                <p>project #1473</p>
            </div>
        </div>
        <div class="footer">
            <img src="../images/grafpedia.png" alt="" class="footer-pic">
        </div>
    </div>
</body>
</html>