*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
body{
    width: 1920px;
    height: 937px;
}
.header{
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: #dddddd 1px solid;
    color: #999999;
    font-size: 11px;
    line-height: 30px;
}
.header a:first-child{
    margin-left: 366px;
}
.icon-location{
    width: 14px;
    height: 14px;
    /* margin-top: 9px; */
    color: red;
}
.header a:nth-child(2){
    margin-left: 421px;
    margin-right: 6px;
}
.header a:nth-child(3){
    color: #f10215;
}
.header a:nth-child(7){
    color: #ff0000;
}
.header a{
    margin-top: 10px;
}
.split-line{
    display: inline-block;
    width: 1px;
    height: 10px;
    margin-left: 13px;
    margin-right: 11px;
    /* margin-top: 20px; */
    background-color: #cccccc;
}
/* .icon{
    
    margin-left: 6px;
    width: 6px;
    height: 4px;
} */
.icon-down{
    margin-left: 6px;
    color: #9d9a99;
}
.nav{
    height: 115px;
    border-bottom: #dddddd 1px solid;
    padding-top: 21px;
}
.logo{
    float: left;
    margin-left: 415px;
    margin-top: 4px;
}
.nav-middle{
    float: left;
    margin-left: 82px;
    width: 746px;
    height: 102px;
}
.search div{
    float: left;
    margin-top: 4px;
}
.search input{
    height: 32px;
    width: 488px;
    margin-left: 46px;
    border: #e2231a 2px solid;
    padding-left: 17px;
    background: url('../images/相机.png') no-repeat;
    background-position: 456px center;
    background-size: 15px 15px;
}
.search-box{
    width: 58px;
    height: 36px;
    background-color: #e2231a;
}
.search-box img{
    width: 20px;
    height: 20px;
    margin: 10px 0 0 18px;
}
.my-cart{ 
    width: 110px;
    height: 34px;
    border: #eeeeee 1px solid;
    margin-left: 18px;
    color: #e1251b;
    font-size: 11px;
}
.my-cart img{
    margin: 1px 0 0 9px;
}
.activity{
    color: #999999;
    font-size: 11px;
    margin: 45px 0 33px 46px;
}
.activity a:first-child{
    color: #e1251b;
}
.activity a:nth-child(n){
    margin-right: 9px;
}
.business{
    color: #333333;
    font-size: 14px;
}
.business a:nth-child(-n+2){
    color: #e1251b;
}
.business a:nth-child(n){
    margin-right: 20px;
}
.nav-right{
    float: left;
    margin-left: 45px;
}
.container{
    height: 510px;
    background-color: #f4f4f4;
    padding-top: 10px;
}
.container > div{
    height: 470px;
    float: left;
}
.container-left{
    width: 547px;
}
.container-left img{
    float: left;
}
.link-class{
    float: left;
    width: 190px;
    height: 470px;
    background-color: #fefefe;
}
.link-class ul{
    list-style: none;
    font-size: 12px;
    color: #333333;
    margin: 17px 0 0 12px;
}
.link-class li{
    margin-bottom: 12px;
}
.container-middle{
    margin: 0 10px 0 10px;
}
.other{
    float: left;
    width: 190px;
    height: 470px;
    background-color: #fefefe;
}
.other-header{
    height: 100px;
}
.other-avatar{
    float: left;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: orangered;
    background: url('../images/avatar.jpg');
    margin: 15px 0 0 22px;
}
.other-enter{
    float: left;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 11px;
}
.other-enter p{   
    color: #666666;  
    margin-bottom: 8px; 
}
.other-enter a{
    float: left;
    color: #333333;
}
.other-enter div{
    float: left;
    width: 1px;
    height: 13px;
    background-color: #929292;
    margin: 0 3px 0 3px;
}
.other-header button{
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 7px;
}
.btn-1{
    background-color: #e1251b;
    color: #ffffff;
    margin: 10px 10px 0 20px;
}
.btn-2{
    background-color: #363634;
    color: #dacd8a;
}
.line-split{
    height: 2px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(238,238,238,1), rgba(255,255,255,0));
    margin-top: 5px;
}
.other-main{
    height: 129px;
    color: #999999;
    font-size: 11px;
}
.other-main p{
    color: #333333;
    display: inline-block;
    font-size: 12px;
    margin: 14px 64px 6px 14px;
}
.icon-right{
    margin-left: 8px;
}
.news{
    font-size: 11px;
}
.news input{
    border: none;
    width: 34px;
    height: 16px;
    background-color: #fdeeed;
    color: #e1251b;
    margin: 6px 5px 0 15px;
    
}
.news a{
    color: #666666;
}
.other-footer div{
    float: left;
    width: 25px;
    height: 45px;
    margin: 10px 20px 10px 18px;
    text-align: center;
    font-size: 11px;
    color: #333333;
}
.other-footer img{
    width: 25px;
    height: 25px;
    margin-bottom: 8px;
}