<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/jd-index.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1707094_ky3a6ajlois.css">
</head>
<body>
    <div class="header">
        <a href="#"><img src="../images/location.png" alt="" class="icon-location">浙江</a>
        <a href="#">你好，请登录</a>
        <a href="#">免费注册<div class="split-line"></div></a>
        <a href="#">我的订单
            <div class="split-line"></div>
        </a>
        <a href="#">我的京东
            <i class="iconfont icon-down"></i>
            <div class="split-line"></div>
        </a>
        <a href="#">京东会员
            <div class="split-line"></div>
        </a>
        <a href="#">企业采购
            <i class="iconfont icon-down"></i>
            <div class="split-line"></div>
        </a>
        <a href="#">客户服务
            <i class="iconfont icon-down"></i>
            <div class="split-line"></div>
        </a>
        <a href="#">网站导航
            <i class="iconfont icon-down"></i>
            <div class="split-line"></div>
        </a>
        <a href="#">手机京东</a>
    </div>
    <div class="nav">
        <img src="../images/logo.jpg" alt="" class="logo">
        <div class="nav-middle">
            <div class="search">
                <div>
                    <input type="text" placeholder="壁挂式空调" >
                </div>
                <div class="search-box">
                    <img src="../images/search.png" alt="">
                </div>
                <div class="my-cart">
                    <img src="../images/cart.jpg" alt="">
                    我的购物车
                </div>
            </div>
            <div class="activity">
                <a href="">领券购手机</a>
                <a href="">油锯</a>
                <a href="">家清节</a>
                <a href="">户外运动</a>
                <a href="">领券购机</a>
                <a href="">第2件5折</a>
                <a href="">红酒</a>
                <a href="">防疫攻坚</a>
                <a href="">满千减百</a>
            </div>
            <div class="business">
                <a href="">秒杀</a>
                <a href="">优惠券</a>
                <a href="">PLUS会员</a>
                <a href="">品牌闪购</a>
                <a href="">拍卖</a>
                <a href="">京东家电</a>
                <a href="">京东超市</a>
                <a href="">京东生鲜</a>
                <a href="">京东国际</a>
                <a href="">京东金融</a>
            </div>
        </div>
    </div>
    <div class="container"></div>
</body>
</html>